/* v1.0.3  2021-02-15 */

.quote {
  font-size: small;
  font-style: italic;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.buttonRefresh {
  font-size: medium;
}

.inputCheck {
  margin-left: 15%;
  transform: scale(1.5);
  /* zoom */
}

/* --------------------- */

.showBlock {
  display: block;
}

.hiddenBlock {
  display: none;
}