/* v1.0.3  2021-02-15 */

.quote {
  font-size: small;
  font-style: italic;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.buttonRefresh {
  font-size: medium;
}

.inputCheck {
  margin-left: 15%;
  transform: scale(1.5);
  /* zoom */
}

/* --------------------- */

.showBlock {
  display: block;
}

.hiddenBlock {
  display: none;
}

/* ----- flex (under footer) ---------------- */

sectionrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

sectioncol {
  display: flex;
  flex-direction: column;
}

/* ------ copied for https://world-weather.ru/informers --------------- */

.ww-informers-box-854754 {
  -webkit-animation-name: ww-informers54;
  animation-name: ww-informers54;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 12px;
  font-family: Arial;
  line-height: 18px;
  text-align: center
}

@-webkit-keyframes ww-informers54 {
  0%, 80% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes ww-informers54 {
  0%, 80% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}